*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
    background-position: fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    margin-bottom: 70px;
}

/* Animations */

main.ng-enter{
    transition: 0.6s linear all;
    opacity: 0;
}

main.ng-enter.ng-enter-active{
    opacity: 1;
}
