<div class="social-container">
    <h3>Follow Us!</h3>
    <div class="social-grid">
        <div class="social-icon"><i class="fa-brands fa-facebook"></i></div>
        <div class="social-icon"><i class="fa-brands fa-linkedin"></i></div>
        <div class="social-icon"><i class="fa-brands fa-google-plus"></i></div>
        <div class="social-icon"><i class="fa-brands fa-instagram"></i></div>
        <div class="social-icon"><i class="fa-brands fa-x-twitter"></i></div>
        <div class="social-icon"><i class="fa-brands fa-youtube"></i></div>
    </div>
    <p>----@gmail.com</p>
    <span>Website by <a href="https://woxflow.in">woxflow</a></span>
</div>


<style>

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    padding: 20px;
}

.social-container p{
    margin-top: 70px;
    font-size: 12px;
}

.social-container span{
    font-size: 12px;
}

.social-container span a{
    color: #333;
    font-weight: 600;
}

.social-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Adjust text color as needed */
}

.social-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 0px 10px #0000002d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: #ddd;
    box-shadow: 0px 0px 2px #0000002d;
    border-color: #888;
}


</style>