<div class="item-detail">
    <div ng-if="!item">
        <p>Loading...</p>
    </div>
    <div class="item-image" ng-if="item">
        <i id="Plain-hart" class="fa-regular fa-heart" ng-click="toggleFavorite(item)" ng-show="!item.isFavorite"></i>
        <i id="Solid-hart" class="fa-solid fa-heart" style="color: red;" ng-click="toggleFavorite(item)" ng-show="item.isFavorite"></i>            
        <img ng-src="{{item.image}}" alt="{{item.name}}">
    </div>
    <div class="item-info" ng-if="item">
        <h2>{{item.name}}</h2>
        <p class="price">{{item.rate | currency:'AED ':0}}</p>
        <p class="description">{{item.description}}</p>
        <i class="fa-solid fa-circle-chevron-left" ng-click="goBack()"></i>
    </div>
</div>

<style>
.item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.item-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-info {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.item-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item-info .price {
    font-size: 18px;
    font-weight: bold;
    color: #006618;
    margin-bottom: 10px;
}

.item-info .description {
    font-size: 16px;
    color: #333;
}

.item-info i {
    font-size: 30px;
    margin: 20px;
    color: #333;
    box-shadow: #333;
    border-radius: 50px;
    text-align: left;
}

#Plain-hart, #Solid-hart{
    padding: 5px;
    font-size: 25px;
    margin: 8px;
    border-radius: 50px;
    background: white;
    position: absolute;
}

/* #Plain-hart */
#Plain-hart { 
    transition: 0.5s linear all; 
    opacity: 1; 
    transform: scale(1); 
} 

#Plain-hart.ng-hide-add.ng-hide-add-active, #Plain-hart.ng-show-remove.ng-show-remove-active { 
    opacity: 0; 
    transform: scale(1.5); 
}


/* #Solid-hart */
#Solid-hart { 
    transition: 0.2s linear all; 
    opacity: 1; 
    transform: translateY(0px);
}

#Solid-hart.ng-hide-add.ng-hide-add-active, #Solid-hart.ng-show-remove.ng-show-remove-active { 
    opacity: 0; 
    transform: translateY(20px); 
}

</style>
